.wrapper {
    height: 100%;
    width: 100%;
}

body {
    background: #a3a3a3;
}

.content {
    width: 70%;
    margin: auto;
    background: white;
    text-align: center;
}

.answer-button {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 250px;
    height: 40px;
}

#start {
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
}

.score {}

.gif {

    width: 30%;
}

.gif-text {}

#reset-button {}